{{>contact}}
{{>map}}


  <div class="container px-4 px-lg-5">
    <div class="small text-center text-muted">
      <a href="http://cgeosoft.com" target="_blank">cgeosoft</a>
    </div>
  </div>

<footer class="bg-light py-5">
  <div class="container px-4 px-lg-5">
    <div class="small text-center text-muted">Anemflia &copy; {{copyright}} - All rights reserved. - developed by
      <a href="http://cgeosoft.com" target="_blank">cgeosoft</a>
    </div>
  </div>
</footer>