<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/{{locale}}">{{global.name}}</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link" href="#about">Rooms</a></li>
                <li class="nav-item"><a class="nav-link" href="#services">Team</a></li>
                <li class="nav-item"><a class="nav-link" href="#portfolio">Guides</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
            </ul>
        </div>
        <div class="flags">
            <a href="/">
                <img src="/public/flags/001-greece.png" alt="flag of greece">
            </a>
            <a href="/en">
                <img src="/public/flags/002-united-kingdom.png" alt="flag of united kingdom">
            </a>
            <a href="/de">
                <img src="/public/flags/003-germany.png" alt="flag of germany">
            </a>
        </div>
    </div>
</nav>