doctype html
html(lang='en')
  head
    meta(charset='utf-8')

    title Anemflia

    meta(name='viewport' content='width=device-width, initial-scale=1')

    link(media="screen" rel='stylesheet' href='/css/style.css')

    link(media="screen" rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Roboto&display=swap')

  body
    | !{content}
