<section class="bg-light contact-2">
  <div class="container">
    <div class="row contact-details d-flex flex-column">
      <div class="col-sm-8 m-auto text-center">
        <h2 class="title">Επικοινωνήστε μαζί μας</h2>
        <p class="lead constrain-width mt-4">
          ΛΕΩΦ. ΣΤΑΥΡΟΥ - ΚΙΟΝΙΩΝ, ΤΗΝΟΣ, ΕΛΛΑΣ
          <br>(+30)2283022141 - (+30)6973579509 - anemfliarooms@gmail.com
        </p>
      </div>
      <div class="divider"></div>
      <div class="col-sm-6 m-auto">
        <form class="contact-form mt-4" name="contact" method="POST">
          <div class="row">
            <div class="col-md-6">
              <input type="text" class="form-control-custom mb-4" name="Όνομα" placeholder="Όνομα">
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control-custom mb-4" name="Email / Τηλέφωνο" placeholder="Email / Τηλέφωνο">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <textarea class="form-control-custom mb-4" rows="3" name="Μήνυμα" placeholder="Μήνυμα"></textarea>
            </div>
          </div>
          <div class="d-flex">
            <button type="submit" class="btn btn-primary btn-lg ml-auto">Αποστολη</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>