<section class="bg-light contact-2">
  <div class="container">
    <div class="row contact-details">
      <div class="col-sm-8 m-auto text-center">
        <h2 class="title">Επικοινωνήστε μαζί μας</h2>
        <p class="lead constrain-width mt-4">
          ΛΕΩΦ. ΣΤΑΥΡΟΥ - ΚΙΟΝΙΩΝ, ΤΗΝΟΣ, ΕΛΛΑΣ
          <br>(+30)2283022141 - (+30)6973579509 - anemfliarooms@gmail.com
        </p>
        <div class="divider"></div>
        <form class="contact-form mt-4">
          <div class="row">
            <div class="col-md-6">
              <input type="text" class="form-control-custom mb-4" placeholder="Όνομα">
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control-custom mb-4" placeholder="Email / Τηλέφωνο">
            </div>
            <br />
          </div>
          <div class="row">
            <div class="col-md-12">
              <textarea class="form-control-custom mb-4" rows="3">Μήνυμα</textarea>
              <br />
              <button type="submit" class="btn btn-primary btn-lg mb-4">Αποστολη</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>