<section class="cover-1 text-center">
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse pull-xs-right" id="navbarSupportedContent">
        {{>top-menu}}
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="intro intro-main p-5 mt-5 mb-5">
      <h1>{{_base.header.title}}</h1>
      <h2>{{_base.header.subtitle}}</h2>
    </div>
    <img class="img-thumbnail" style="width:170px;" src="/img/social_media.png" alt="booking rating 9.4">
  </div>
</section>