<section class="bg-light p-4">
	<div class="container constrain-width ">
		<h2 class="text-center">Τιμοκατάλογος</h2>
		<div class="divider"></div>
		<table class="table mb-4">
			<thead>
				<tr class="text-center">
					<th></th>
					<th>Μαΐστρος</th>
					<th>Απηλιώτης</th>
					<th>Ζέφυρος</th>
					<th>Μπάτης</th>
				</tr>
			</thead>
			<tbody>
				<tr class="text-center">
					<td class="text-right">
						<strong>Low Season</strong>
					</td>
					<td>???</td>
					<td>???</td>
					<td>???</td>
					<td>???</td>
				</tr>
				<tr class="text-center">
					<td class="text-right">
						<strong>High Season</strong>
					</td>
					<td>???</td>
					<td>???</td>
					<td>???</td>
					<td>???</td>
				</tr>
			</tbody>
		</table>
		<hr>
		<p class="lead text-center mt-4">Κάνετε την κράτηση σας Online</p>
		<form>
			<div class="row">
				<div class="col-4">
					<div class="form-group">
						<label>Όνομα</label>
						<input name="name" class="form-control">
					</div>
				</div>
				<div class="col-4">
					<div class="form-group">
						<label>Τηλέφωνό</label>
						<input name="message" class="form-control">
					</div>
				</div>
				<div class="col-4">
					<div class="form-group">
						<label>Email</label>
						<input name="mail" class="form-control">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<div class="form-group">
						<label>Δωμάτιο</label>
						<input name="field1" class="form-control">
					</div>
				</div>
				<div class="col-3">
					<div class="form-group">
						<label>Ενηλίκες</label>
						<input name="field3" class="form-control">
					</div>
				</div>
				<div class="col-3">
					<div class="form-group">
						<label>Παιδιά</label>
						<input name="field4" class="form-control">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<div class="form-group">
						<label>Ημερομηνία / ώρα άφιξης</label>
						<input name="field5" class="form-control">
					</div>
				</div>
				<div class="col-6">
					<div class="form-group">
						<label>Ημερομηνία / ώρα αναχώρησης</label>
						<input name="field6" class="form-control">
					</div>
				</div>
			</div>
			<div class="form-group text-center">
				<button class="btn btn-outline-secondary btn-lg" type="submit">Κρατηση</button>
			</div>
		</form>
	</div>
</section>