<ul class="navbar-nav mt-2 mt-md-0">
  <li class="nav-item nav-item-info">
    <span>(+30)2283022141 - anemfliarooms@gmail.com</span>
  </li>
  <li class="nav-item nav-item-divider"></li>
  <li class="nav-item">
    <a class="nav-link" href="/el">
      <img class="rounded-circle bg-white" style="padding:1px;width:25px;" src="/img/flags/001-greece.png">
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/en">
      <img class="rounded-circle bg-white" style="padding:1px;width:25px;" src="/img/flags/002-united-kingdom.png">
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/de">
      <img class="rounded-circle bg-white" style="padding:1px;width:25px;" src="/img/flags/003-germany.png">
    </a>
  </li>
  <li class="nav-item nav-item-divider"></li>
  <li class="nav-item nav-item-social">
    <a href="https://www.facebook.com/%CE%91%CE%BD%CE%B5%CE%BC%CF%86%CE%BB%CE%B9%CE%AC-%CE%95%CE%BD%CE%BF%CE%B9%CE%BA%CE%B9%CE%B1%CE%B6%CF%8C%CE%BC%CE%B5%CE%BD%CE%B1-%CE%94%CE%B9%CE%B1%CE%BC%CE%B5%CF%81%CE%AF%CF%83%CE%BC%CE%B1%CF%84%CE%B1-%CE%A4%CE%AE%CE%BD%CE%BF%CF%82-530132717109429/"
      target="_blank" title="Facebook">
      <span class="fab fa-facebook"></span>
    </a>
  </li>
  <li class="nav-item nav-item-social">
    <a href="https://www.tripadvisor.com/Hotel_Review-g2698784-d13468804-Reviews-Anemflia-Tinos_Town_Tinos_Cyclades_South_Aegean.html"
      title="Trip Advisor" target="_blank">
      <span class="fab fa-tripadvisor"></span>
    </a>
  </li>
</ul>
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav-footer mt-2 mt-md-0 ">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Αρχική</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="company.html">Εταιρεία</a>
          </li>
        </ul>
      </div>
    </div>
  </div>