---
layout: _layout.pug
---

section(class=[
  "absolute","h-full","w-full","bg-neutral-50",
  "flex","flex-col","justify-center","items-center","text-center"
])
  div(class="max-w-screen-sm space-y-4")
    h1(class=["text-4xl"]) Ανεμφλιά
    div(class=["text-2xl","text-black/70"]) Ενοικιαζόμενα Διαμερίσματα
    div(class=["text-2xl"])
      | Σας ευχαριστούμε για την προτίμηση όλα αυτά τα χρόνια και ελπίζουμε να σας
      | δούμε ξανά σε ένα απο τα επόμενα βήματά μας!
