$primary-color: #59a0d7;
$primary-color-hover: #4089c1;
$background-color: #2b2d34;
$almost-white: #f7f7f8;
$lighter-gray: #dfe1e5;
$light-gray: #a0a0a0;
$medium-gray: #696b6e;
$dark-gray: #46484a;
$base-font-size: 16px;
$main-font: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$headline-font: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif-font: 'Droid Serif', Times, Georgia, serif;

// bootstrap
$theme-colors: ( "primary": $primary-color);